*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-1{
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    float: none;
    width: 100%;
    height: 7295px;

}
.container-header{
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.header{
    width: 100%;
    height: 120px;
    background: rgba(74, 29, 34, 0.9);
}
.header_con{

    width: 75% ;
    height: 100%;
    margin: 0 12%;
}
.search{
    margin-left: 11%;
    margin-top: -8%;
}
.search input{
    width: 23%;
    height: 37px;
    border-radius: 3px;
}
.search1{
    width: 37px;
    height: 37px;
    background-color: #4c2222;
    margin-left: 22.8%;
    margin-top: -3.6%;
    border-radius: 3px;
}
.search1 button{
    margin-left: 2px;
    margin-top: 0px;
}
.search-icon{
    width: 37px ;
    height: 37px ;
    background-color: #552525;
    border-radius: 3px;
}
.link{
    margin-left: 39%;

}
.fa-phone{
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    margin-right: 10px;
    margin-top: -35px;
    float: left;

}
.fa-phone img{
    margin-top: -5px;
}
.phone{
    position: relative;
    top: -30px;
}
.link-con a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.fa-con{
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    margin-left: 26%;
    margin-top: -60px;
}
.fa-con img{
    margin-top: -8px;
}
.fa-con1{
    font-family: Roboto;
    margin-left: 230px;
    position: relative;
    top: -32px;
}
.taikhoan{
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    margin-left: 59%;
    margin-top: -63px;
}
.taikhoan img{
    margin-top: -7px;
}
.taikoan1{
    font-family: Roboto;
    margin-left: 59%;
    position: relative;
    top: -32px;
}
.buy{
    background-color: white;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    text-align: center;
    line-height: 42px;
    margin-left: 81%;
    margin-top: -63px;
}
.buy img{
    margin-top: -7px;
}
.buy1{
    margin-left: 81%;
    position: relative;
    top: -31px;
}



.toplink{
    height: 50px ;
    width: 100%;
    background-color: rgba(74, 29, 34, 0.9);
    border: 1px solid #4a1d22;
    position: sticky;
    z-index: 1000;
    backface-visibility: hidden;
    top: -1px ;
    text-align: center;
}
.nav > li{
    display: inline-block;
}
.nav li{
    font-family: Roboto;
    list-style: none;
    position: relative;
}
.nav li a{
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    line-height: 50px ;
    padding: 0 34px ;
    display: block;

}
.nav li:hover .subnav{
    display: block;
}
.nav > li:hover > a{
    color: #950000;
    background-color: #ffffff;
}
.nav .subnav{
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) ;
}
.nav .subnav a{
    color: #582727;
    padding: 0 30px;
    line-height: 38px ;
}
.nav .nav-arrow-down{
    font-size: 13px;
}

.nav .subnav li:hover{
    background-color: #763f3f;
}
.nav .subnav li a:hover{
    color: white;
}



/******************** phần main **************************/
.container-main{
    margin-top: -20px;
}
.main{
    width: 100%;
    height: 6300px;
    background-color: #f8f2e8;
}
.inner{
    width: 1120px;
    height: 3500px;
    background-color: #f8f2e8;
    margin-left: 12.5%;
}








.hotline-phone-ring-wrap {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999999;
}
.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transition: visibility .5s;
    left: 0;
    bottom: 0;
    display: block;
}
.hotline-phone-ring-circle {
    width: 85px;
    height: 85px;
    top: 10px;
    left: 10px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid #0f75bc;
    -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0.5;
}
.hotline-phone-ring-circle-fill {
    width: 55px;
    height: 55px;
    top: 25px;
    left: 25px;
    position: absolute;
    background-color: rgba(50, 133, 210, 0.7);
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all .5s;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
.hotline-phone-ring-img-circle {
    background-color: #0f75bc;
    width: 33px;
    height: 33px;
    top: 37px;
    left: 37px;
    position: absolute;
    background-size: 20px;
    border-radius: 100%;
    border: 2px solid transparent;
    -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hotline-phone-ring-img-circle .pps-btn-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.hotline-phone-ring-img-circle .pps-btn-img img {
    width: 20px;
    height: 20px;
}
.hotline-bar {
    position: absolute;
    background: rgba(133, 149, 222, 0.75);
    height: 40px;
    width: 180px;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px !important;
    /* width: 175px !important; */
    left: 33px;
    bottom: 37px;
    display: none;
}
.hotline-bar > a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-indent: 50px;
    display: block;
    letter-spacing: 1px;
    line-height: 40px;
    font-family: Arial;
}
.inner .hotline-phone-ring-wrap:hover .hotline-bar{
    display: block;
}
.hotline-bar > a:hover,
.hotline-bar > a:active {
    color: #fff;
}
@-webkit-keyframes phonering-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }
    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}
@-webkit-keyframes phonering-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.6;
    }
    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.6;
    }
}
@-webkit-keyframes phonering-alo-circle-img-anim {
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}
@media (max-width: 768px) {
    .hotline-bar {
        display: none;
    }
}




.summer{
    text-align: center;
}
.summer h1{
    position: relative;
    top: 40px ;
    color: #afb60f;
    font-family: Roboto;
    font-size: 32px;
}
.summer-khung{
    margin-top: 60px;
    overflow: hidden;
}
.summer-box{
    overflow: hidden;
    width: 257px ;
    height: 356px ;
    float: left;
    background-color: #ffffff;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 3px;
}
.summer-box .img{
    border-radius: 5px;
}
.summer-box a{
    text-decoration: none;
    color: black;
    font-family: Roboto;
}
.summer-box .ba {
    font-size: 17px;
    text-align: center;
   position: relative;
    top: 5px;
}
.summer-box p{
    text-align: center;
}



.boxe{
    margin-top: 18px;
    width: 100px;
    height: 40px;
    background-color: #c0c906;
    border-radius: 5px;
}
.boxe1{
    height: 40px ;
    width: 50px;
    background-color: #582727;
    margin-left: 100px;
    margin-top: -40px;
    border-radius: 5px;
}
.boxenum{
    font-size: 25px ;
    text-align: center;
    line-height: 40px;
    color: white;
}
.boxe1 img{
    width: 100%;
    margin-top: 13px ;
    margin-left: 9px;
    transition: all 1s;
}
.boxe1 img{
    width: 25px;
    height: 20px;
}
.summer-box > a > .img img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.summer-box > a > .img:hover > .ba{
    color: #c0c906;
}
.see{
    width: 100px;
    margin-top: 1560px;
    position: relative;
    left: 520px;
    height: 50px;
    background-color: #582727;
    border-radius: 10px;
}
.see a{
    font-size: 16px;
    margin-left: 12px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
}
.summer-khung > .see:hover{
    background-color: #c0c906;
}
.summer1{
    font-family: Roboto;
    color: #afb60f;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 50px;
}
.summer1 h1{
    font-size: 32px;
}
.see1{
    width: 100px;
    margin-top: 1610px;
    position: relative;
    left: 520px;
    height: 50px;
    background-color: #582727;
    border-radius: 10px;
}
.see1 a{
    margin-left: 12px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
}
.summer-khung > .see1:hover{
    background-color: #c0c906;
}
/*---------ĐẶT HÀNG ONLINE----------*/
.online{
    height: 672px;
    width: 100%;
    margin-top: 30px;
    /*height: 300px;*/
    padding: 50px 0;
    background-image: url("//theme.hstatic.net/1000313040/1000406925/14/banform.jpg?v=1719");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.ship{
    width: 560px;
    height: 572px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: 30px;
    left: 200px;
    border-radius: 10px;
}
.ship2{
    font-size: 32px;
    color: #c0c906;
}
.ship1 p{
    color: white;
    font-size:28px;
}
.ship1{
    text-align: center;
}


form {
    display: block;
    margin-top: 0;
}
label[for] {
    cursor: pointer;
}
input.input-full, textarea.input-full, select.input-full {
    width: 93%;
}
textarea {
    min-height: 100px;
}
input, textarea, select {
    border: 1px solid #ffffff;
    max-width: 100%;
    padding: 8px 10px;
    border-radius: 3px;
}
button, input, textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
}
input, textarea, button, select {
    margin: 0;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

input, textarea, button, select {
    font-size: 14px;
    line-height: 1.6;
    font-family: "UTMAvo", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
#home-order .order-content input, #home-order .order-content textarea {
    outline: 0px;
    margin-bottom: 5px;
}
.order-content label {
    display: block;
    color: #fff;
    margin-bottom: 5px;
    margin-top: 10px;
}
button{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #582727;
    color: white;
}
.input-full{
    margin-left: 20px;
    margin-top: 10px;
}
label{
    margin-left: 20px;
    margin-top: 10px;
}

/*----------------------TOP NEW---------------------------*/
.new{
    width: 1000px;
    height: 500px;
    background-color: #f8f2e8 ;
    margin-left: 260px;
}
.new1{
    overflow: hidden;
    border: 1px solid #e5e4e4;
    text-decoration: none;
    width: 300px;
    height: 400px;
    background-color: #f8f8f8;
    float: left;
    margin-top: 70px;
    margin-left: 23px;
    border-radius: 10px;
}
.new1 a{
    text-decoration: none;
}
.new1 img{
    border-radius: 10px;
    margin-top: -60px;
}
.new2{
    color: black;
    font-size: 18px;
    margin-left: 5px;
}
.new3{
    color: #938e8e;
    margin-left: 5px;
}
.new1 > a > img:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.new1 > a:hover > .new2{
    color: #c0c906;
}
.more{
    width: 100px;
    height: 50px;
    background-color: #582727;
    margin-top: 90px;
    margin-left: 700px;
    border-radius: 10px;
}
.more a{
    font-family: Roboto;
    width: 100px;
    height: 50px;
    text-decoration: none;
    color: white;
    line-height: 50px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
}
.more a:hover{
    text-align: center;
    background-color: #afb60f;
    color: #ffffff;
    margin-left: 0px;
    border-radius: 10px;
}
/*-------------------KHÓA HỌC----------------*/
.learn{
    width: 1340px;
    height: 650px;
    background-color: #402323;
    margin-top: 70px;
    margin-left: 80px;
    border-radius: 10px;
}
.learn ul{
    margin-left: 20px;
    margin-top: 10px;
}
.learn li{
    font-family: Roboto;
    color: white;

}
.learn img{
    border-radius: 10px;
}
.learn .more{
    margin-top: -50px;
    margin-left: 600px;
}
.box2{
    width: 1100px;
    height: 272px ;
    border-radius: 10px;
    margin-left: 230px;
    margin-top: 130px;
    background-color: #f8f2e8;
}
.box2 h2{
    color: #c0c906;
    text-align: center;
    position: relative;
    top: -50px;
}
.box2 p{

    font-family: Roboto;
    margin-left: 490px;
    margin-top: -265px;
}
.box2 video{
    margin-top: -16px;
}
.see3{
    width: 100px;
    margin-top: 30px;
    position: relative;
    left: 730px;
    height: 50px;
    background-color: #582727;
    border-radius: 10px;
}
.see2 b{
    font-size: 16px;
    line-height: 50px;
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto;
    border: 5px;
}
.see2 a{
    text-align: center;
    text-decoration: none;
}
.see2 > a:hover > .see3{
    background-color: #c0c906;
    color: white;
}

/*-------------MASSENGER----------------*/


{box-sizing: border-box;}

/* Nút Để Mở Chatbox */
.nut-mo-chatbox {
    background-color: white;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 120px;
    right: 30px;
    width: 30px;
    height:30px;
    border-radius: 100%;
}
.nut-mo-chatbox img{
    margin-top: -25px;
    position: relative;
    right: 30px;

}

/* Ẩn chatbox mặc định */
.Chatbox {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

/* Thêm style cho form */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* thiết lập style textarea */
.form-container textarea {
    width: 100%;
    padding: 5px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
}

/*thiết lập style cho textarea khi được focus */
.form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Sthiết lập style cho nút trong form*/
.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Thiết lập màu nền cho nút đóng chatbox */
.form-container .nut-dong-chatbox {
    background-color: red;
}

/* Thêm hiệu ứng hover cho nút*/
.form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
}




/*----------------FOOTER------------------*/
.footer1{
    width: 100% ;
    height: 430px;
    background-image: url("https://theme.hstatic.net/1000313040/1000406925/14/footer-bg.png?v=1719");
}
.footer3{
    width: 100%;
    height: 430px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.5);
}
.footer3 img{
    margin-top: 50px;
    margin-left: 60px ;
}
.footer4{
    font-family: Roboto;
    color: white;
    margin-left: 210px;

}
.footer4 ul{
    margin-left: -160px;
}
.chinh{
    margin-left: 200px;
    margin-top: -225px ;
}
.sach{
    font-size: 23px;
}
.sach2{
    margin-top: 20px;
}
.chinh p{
    margin-top: 10px;
}
.sach3{
    margin-left: 300px;
    margin-top: -210px;
}
.sach4{
    font-size: 23px;
}
.sach5{
    margin-top: 20px;
}
.sach6{
    font-size: 21px;
    margin-left: 340px;
    margin-top: -200px;
}
.sach7 img{
    margin-left: 350px;
}
.footer2{
    width: 100%;
    height: 30PX;
    background-color: #500d0d;
}
.link-footer{
    width: 230px;
    float: left;
    margin-left: 650px;
    margin-top: -150px ;
}
.txt{
    float: right;
    margin-left: 20px;
}
.footer2{
    font-family: Roboto;
    color: white;
    text-align: center;
    line-height: 30px;
}


#back-to-top {
    display: none;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    width: 40px;
    color: #fff;
    background: #3d1a1a;
    font-size: 36px;
    position: fixed;
    bottom: 35px;
    right: 15px;
    opacity: 0.8;
    cursor: pointer;
    z-index: 999;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fan img{
    margin-top: -5px;
}