<footer>
    <div class="container"></div>
    <div class="fd row">
        <div class="fdl col-md-4">
            <h3>music store stations</h3>
            <p>dream your moments, until i met you,gimme some</p>
            <p>corage,dark alley,one more of a stanger</p>
            <p> endless,things,the heartbeat stops waiking</p>
            <p>promises,desired games and many more...</p><br>
            <p>werred by:<a href="aptech.ac.vn">aptech.ac.vn</a></p>
        </div>
        <div class="fdc col-md-4">
            <h3>download our app</h3>
            <p> go moblue with oir aoo,listien to your favourite songs at just one clickk.download now</p>
            <div class="row">
                <div class="link col-md-5">
                    <a href="#"><img src="fileams6/ch.png"></a>
                </div>
                <div class="link col-md-5">
                    <a href="#"><img src="fileams6/800px-Download_on_the_App_Store_Badge.svg.png"></a>
                </div>
            </div><br>
            <div class="row">
                <div class="link col-md-5">
                    <a href="#"><img src="fileams6/wđ.png"></a>
                </div>
            </div>
        </div>
        <div class="fdr col-md-4">
            <h3>contact us</h3><br>
            <p> call us:(+84) 24-7300,(+84)26-7300-8666</p><br>
            <p>email us <a href="demo@gmail.com,">demo@gmail.com</a><a href="fpt-aptech@gmail.com">fpt-aptech@gmail.com</a></p>
            <p>walk in:số 6 tôn thất thuyết,mỹ đình,từ liêm Hà Nội<br></p>
            <P>590 cách mạng tháng tám, quận 3,tp HCM</P>
        </div>

    </div>
    <div/>
</footer>