<!DOCTYPE html>
<html lang="en">
<%-include("head")%>
<body>
<header id="menu">
    <div class="container">
        <div class="row">
            <div class="logo col-md-7">
                <a href="#">Music store</a>
            </div>
            <di class="trending col-md-5">
                <p><b>trendingsong:</b> Dream your moment,Until i meet you,gin</p>
            </di>
        </div>
</header>

<main>
    <h1>so nguoi truy cap trang:nguoi</h1>
    <h3>recently played</h3>
    <div class="row">
        <di class="content col-md-3">
            <img src="fileams6/anh1.jpg">
            <a href="#">
                <h4>Tiểu sử ca sĩ Chi Dân</h4>
                <p>Là một trong những thành viên cũ</p></a>
        </di>
        <di class="content col-md-3">
            <a>
                <img src="fileams6/anh1.jpg">
                <h4>Tiểu sử ca sĩ Chi Dân</h4>
                <p>Là một trong những thành viên cũ</p></a>
        </di>
        <di class="content col-md-3"><a>
                <img src="fileams6/anh1.jpg">
                <h4>Tiểu sử ca sĩ Chi Dân</h4>
                <p>Là một trong những thành viên cũ</p></a>
        </di>
        <div class="content col-md-3">
            <a>
                <img src="fileams6/anh1.jpg">
                <h4>Tiểu sử ca sĩ Chi Dân</h4>
                <p>Là một trong những thành viên cũ</p><a/>
        </div>
    </div>
    <h3>album</h3>
    <div class="album row">
        <% for(var i=0;i<product.length;i++){%>
        <div class="content col-md-3">
            <a href="/chi-tiet?id=<%=product[i].id %>">
                <img src="<%= product[i}.image %>">
                <p><% product[i].name%></p>
            </a>
        </div>
       <% } %>


    </div>
    <div class="pade row">
        <div class="1 col-md-2"><a href="#"><</a></div>
        <div class="1 col-md-2"><a href="#">1</a></div>
        <div class="1 col-md-2"><a href="#">2</a></div>
        <div class="1 col-md-2"><a href="#">3</a></div>
        <div class="1 col-md-2"><a href="#">4</a></div>
        <div class="1 col-md-2"><a href="#">> </a></div>

    </div>
    </div>
    <div class="hr">
        <hr style="color: white">
        <h3 id="hl">trending song</h3>
        <div class="row">
            <div class="song col-md-1"></div>
            <div class="song col-md-10">
                <img src="fileams6/banner.png">
                <h4>recod breaking albums</h4>
                <h5>with passtion for real,Good muisc</h5>
                <p>dream your moments,until met you,gimme sone cour ,dark alley,onemore of a stranger,endless</p>
                <p>thing,the heart stops,walking promises, desired games and mary more...</p>
            </div>
            <div class="song col-md-1"></div>
        </div>
    </div>
    <div class="hr">
        <hr>
    </div>

</main>
<%-include("footer")%>
</body>
</html>